:root {
    /* Aspect colors */
    --aspect-color-vigilance: #6694ce;
    --aspect-color-command: #41ad49;
    --aspect-color-aggression: #d2232a;
    --aspect-color-cunning: #fdb933;
    --aspect-color-villainy: #040004;
    --aspect-color-heroism: #c6c1a0;

    /* Set colors */
    --set-color-sor: #e10600;
    --set-color-shd: #3b3fb6;
    --set-color-twi: #7c2529;
    --set-color-jtl: #f2a900;
}

a {
    text-decoration: none;
}

ul {
    list-style: none inside;
    color: rgba(255, 255, 255, 0.5);
}

/* Aspect pips */
.aspect-pips {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.5);
}

.aspect-pip-vigilance,
a.aspect-pip-vigilance {
    color: var(--aspect-color-vigilance);
}

.aspect-pip-command,
a.aspect-pip-command {
    color: var(--aspect-color-command);
}

.aspect-pip-aggression,
a.aspect-pip-aggression {
    color: var(--aspect-color-aggression);
}

.aspect-pip-cunning,
a.aspect-pip-cunning {
    color: var(--aspect-color-cunning);
}

.aspect-pip-villainy,
a.aspect-pip-villainy {
    color: var(--aspect-color-villainy);
}

.aspect-pip-heroism,
a.aspect-pip-heroism {
    color: var(--aspect-color-heroism);
}