{% extends "base.html" %}

{% block title %}Card: {{card.id}} — {{ super() }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <div class="card" style="width: 24rem;">
            <img src="{{ url_for('static', path='/images/cards/' + card.set_id + '/' + card.number + '.png') }}"
                class="card-img-top" alt="{{card.name}} front">
            <div class="card-body">
                <h5 class="card-title">{% if card.unique is true %}⟡{% endif %}{{card.name}}</h5>
                {% if card.subtitle is not none %}
                <h6 class="card-subtitle mb-2 text-body-secondary">{{card.subtitle}}</h6>
                {% endif %}
                {% if card.front_text is not none %}
                <p class="card-text">{{ card.front_text }}</p>
                {% endif %}
            </div>
            {% if card.double_sided is true %}
            <img src="{{ url_for('static', path='/images/cards/' + card.set_id + '/' + card.number + '-back.png') }}"
                class="card-img-bottom" alt="{{card.name}} back">
            {% endif %}
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="col">
        <h4>Variants:</h4>
        <ul>
            {% for variant in variants %}
            <li><a href="{{variant.id}}">{{variant.id}} ({{variant.variant_type}})</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
<!-- <h2>{% if card.unique is true %}⟡{% endif %}{{card.name}}</h2>
{% if card.subtitle is not none %}<h3>{{card.subtitle}}</h3>{% endif %}
<h4>{{card.card_set.name}}</h4>
<div id="card-image">
    <img src="{{ url_for('static', path='/images/cards/' + card.set_id + '/' + card.number + '.png') }}"
        alt="{{card.name}}" height="386" />
    {% if card.double_sided is true %}
    <img src="{{ url_for('static', path='/images/cards/' + card.set_id + '/' + card.number + '-back.png') }}"
        alt="{{card.name}} back" height="386" />
    {% endif %}
</div>
<p>{{card.id}}</p>
<p>Aspects:</p>
{% for aspect in card.aspects %}
{% if aspect.aspect is not none %}
<img src="{{ url_for('static', path='/images/aspects/' + aspect.aspect + '.png') }}" alt="{{aspect.aspect}}"
    width="50" />
{% if aspect.double is true %}
<img src="{{ url_for('static', path='/images/aspects/' + aspect.aspect + '.png') }}" alt="{{aspect.aspect}}"
    width="50" />
{% endif %}
{% else %}
<span>N/A</span>
{% endif %}
{% endfor %}
<p>Arena:{% for arena in card.arenas %}<span class="badge text-bg-light ms-1">{{arena.arena}}</span>{% endfor %}
</p>
<p>Traits:{% for trait in card.traits %}<span class="badge text-bg-light ms-1">{{trait.trait}}</span>{% endfor %}
</p>-->
{% endblock %}