{% extends "base.html" %}

{% block title %}Card: {{card.id}} — {{ super() }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <div class="card rounded-4 border-2 p-3 swu-card card-aspect-{{card.aspects[0].aspect}}">
            <div class="row g-0">
                {% if card.double_sided is true %}
                <div id="card-image" class="col-md-4 carousel slide">
                    <div class="carousel-inner">
                        <div class="carousel-item active" aria-description="Front of card image"
                            style="background-image:url({{ url_for('static', path='/images/cards/'+card.set_id+'/'+card.number+'.png')}});">
                        </div>
                        <div class="carousel-item" aria-description="Back of card image"
                            style="background-image:url({{ url_for('static', path='/images/cards/'+card.set_id+'/'+card.number+'-back.png')}});">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#card-image"
                        data-bs-slide="prev">
                        <span class="fs-3 text-white" aria-hidden="true">❮</span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#card-image"
                        data-bs-slide="next">
                        <span class="fs-3 text-white" aria-hidden="true">❯</span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                {% else %}
                <div id="card-image" class="col-md-4 carousel slide">
                    <div class="carousel-inner">
                        <div class="carousel-item active"
                            style="background-image:url({{ url_for('static', path='/images/cards/'+card.set_id+'/'+card.number+'.png') }});">
                        </div>
                    </div>
                </div>
                {% endif %}
                <div class="col-md-8">
                    <div class="card-body">
                        <h3 class="card-title">{% if card.unique is true %}✧{% endif %}{{card.name}}</h3>
                        {% if card.subtitle is not none %}
                        <h4 class="card-subtitle mb-2 text-body-secondary">{{card.subtitle}}</h4>
                        {% endif %}
                        <hr>
                        {% if card.front_text is not none %}
                        <h5>Card Text:</h5>
                        <p class="card-text">{{ card.front_text }}</p>
                        {% endif %}
                        {% if card.epic_action is not none %}
                        <p class="card-text">{{ card.epic_action }}</p>
                        {% endif %}
                        {% if card.back_text is not none %}
                        <hr>
                        <h5>Back Text:</h5>
                        <p class="card-text">{{ card.back_text }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="col">
        <h4>Variants:</h4>
        <ul>
            {% for variant in variants %}
            {% if variant.id == card.id %}
            <li class="selected">{{variant.id}} ({{variant.variant_type}})</li>
            {% else %}
            <li><a href="{{variant.id}}">{{variant.id}} ({{variant.variant_type}})</a></li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>
<!-- 
<p>{{card.id}}</p>
<p>Aspects:</p>
{% for aspect in card.aspects %}
{% if aspect.aspect is not none %}
<img src="{{ url_for('static', path='/images/aspects/'+aspect.aspect+'.png') }}" alt="{{aspect.aspect}}"
    width="50">
{% if aspect.double is true %}
<img src="{{ url_for('static', path='/images/aspects/'+aspect.aspect+'.png') }}" alt="{{aspect.aspect}}"
    width="50">
{% endif %}
{% else %}
<span>N/A</span>
{% endif %}
{% endfor %}
<p>Arena:{% for arena in card.arenas %}<span class="badge text-bg-light ms-1">{{arena.arena}}</span>{% endfor %}
</p>
<p>Traits:{% for trait in card.traits %}<span class="badge text-bg-light ms-1">{{trait.trait}}</span>{% endfor %}
</p> -->
{% endblock %}