{% extends "base.html" %}

{% block content %}
<div class="row">
  <div class="col p-0">
    <p class="lead">
      This site contains information about each card in the trading card game <strong>Star Wars
        Unlimited</strong>. Select a set to browse its cards.
    </p>
    <ul id="set-list" hx-get="/set_list" hx-swap="innerHTML" hx-trigger="load">
      <li>
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </li>
    </ul>
  </div>
</div>
{% endblock %}