{% extends "base.html" %}

{% block title %}Search — {{ super() }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col p-0 mb-2">
        <div class="alert alert-warning" role="alert">
            Add search form here
        </div>
    </div>
</div>
{% if query_string|length %}
<div class="row">
    <div class="col p-0">
        <h2>Search Results</h2>
        <ul id="card-list" hx-get="/card_list?{{query_string}}" hx-swap="innerHTML" hx-trigger="load"></ul>
    </div>
</div>
{% endif %}
{% endblock %}