{% extends "base.html" %}

{% block title %}{{set.name}} — {{ super() }}{% endblock %}

{% block content %}
<div class="p-0 mb-2">
  <img src="{{ https_url_for(request, 'static', path='/images/sets/' + set.id + '_logo.png') }}" alt="{{set.name}}"
    width="300">
</div>
<div class="p-0">
  <ul id="card-list" hx-get="/card_list?set_id={{set.id}}&variant_type=Normal" hx-swap="innerHTML" hx-trigger="load">
    <li>
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </li>
  </ul>
</div>
{% endblock %}